<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="push">
        <!-- Add your sidenav content here -->
        <p>Side Nav Content</p>
    </mat-sidenav>

    <mat-sidenav-content>
        <main class="main" [class.dark-theme]="isDarkTheme">
            <mat-toolbar class="flex-container">
                <button mat-icon-button class="toolbar-icon" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="toolbar-title">{{ title }}</span>
                <button mat-icon-button class="toolbar-icon" (click)="toggleTheme()">
                    <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
                </button>
            </mat-toolbar>
        </main>

        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>